<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post Detail</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
     <h1>Post in Detail</h1>
     <h4>ID: <%= post.id %></h4>
     <div class="post">
         <h3 class="user">@<%= post.username %></h3>
         <h4><%= post.content %></h4>
     </div>
     <br/>
     <a href="/posts">← Back to Posts</a>
</body>
</html>
